flows.json
[{"id":"22ac55a1.7dcbba","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"719e6c24.d2bc14","type":"cluster","z":"22ac55a1.7dcbba","name":"","mode":"randomWorker","payloadOnly":true,"x":250,"y":160,"wires":[["b750c4.639d2f4"]]},{"id":"f5355b47.acc308","type":"inject","z":"22ac55a1.7dcbba","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":".1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":100,"wires":[["719e6c24.d2bc14"]]},{"id":"a4a9a8ee.2a4b88","type":"debug","z":"22ac55a1.7dcbba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":340,"wires":[]},{"id":"889dbbb2.7a2438","type":"cluster","z":"22ac55a1.7dcbba","name":"","mode":"broadcast","payloadOnly":true,"x":210,"y":280,"wires":[["a4a9a8ee.2a4b88"]]},{"id":"b750c4.639d2f4","type":"function","z":"22ac55a1.7dcbba","name":"","func":"msg.payload = context.global.process.pid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":240,"wires":[["889dbbb2.7a2438"]]}]